@import "tailwindcss";
@import "../node_modules/@heroui/styles/dist/index.css";

@theme {
  --color-bleu: rgb(18 27 90);
  --color-turquoise: rgb(29 175 173);
  --color-gris: rgb(231 235 240);
  --color-rouge: rgb(229 1 88);
}

.label_input {
  @apply text-xs font-semibold text-bleu;
}

.error_input {
  @apply text-rouge text-center font-semibold text-xs;
}
